<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item">
                <a class="nav-item-hold" href="../Campaign/Index"><i class="nav-icon i-Android-Store"></i><span class="nav-text">Builder</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                <a class="nav-item-hold" href="../OrderManagement/ViewOrders"><i class="nav-icon i-Add-Cart"></i><span class="nav-text">Planner</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item">
                <a class="nav-item-hold" href="../OrderManagement/OrderHistory"><i class="nav-icon i-Sand-watch-2"></i><span class="nav-text">Mixer</span></a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>

    <div class="sidebar-overlay"></div>
</div>