<div class="modal fade" id="findReplaceModal" tabindex="-1" aria-labelledby="findAdnReplace" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find and replace</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-md-4 form-group">
                        <div class="mb-3">
                            <label for="findText" class="form-label">Find text</label>
                            <input type="text" class="form-control" id="findText" placeholder="type here...">
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="form-label">In Ad group</label>
                        <select id="adGroupReplaceDropDown" multiple="multiple" data-role="multiselect">
                            <option selected>Select Ad group</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="form-check">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="matchCase" checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                Match case
                            </label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="wholeWordOnly">
                            <label class="form-check-label" for="flexCheckDefault">
                                Match whole words only
                            </label>
                        </div>
                    </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 form-group">
                            <div class="mb-3">
                                <label for="findText" class="form-label">Replace with</label>
                                <input type="text" class="form-control" id="replaceText" placeholder="type here...">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-check">
                            <div class="col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Keep original ads and create dublicate ads new text
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="findAndReplace()">Apply</button>
                </div>
            </div>
    </div>
</div>
