  <div class="modal fade" id="AddRespSearchModal" tabindex="-2" role="dialog" aria-labelledby="AddRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resp. search AD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="searchId" name="expId" value="-1">
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Description One</label>
                            <input class="allow90 form-control form-control-rounded" id="expDiscSearch1" maxlength="90" type="text" />
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Description Two</label>
                            <input class="allow90 form-control form-control-rounded" id="expDiscSearch2" maxlength="90" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Description Three</label>
                            <input class="allow90 form-control form-control-rounded" id="expDiscSearch3" maxlength="90" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Description Four</label>
                            <input class="allow90 form-control form-control-rounded" id="expDiscSearch4" maxlength="90" type="text" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 form-group">
                            <label for="Discount">Final URL</label>
                            <input class="allow15 form-control form-control-rounded" id="expSearchurl" maxlength="15" type="text" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="Discount">Path One</label>
                            <input class="allow15 form-control form-control-rounded" id="expSearchPath1" maxlength="15" type="text" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="Discount">Path Two</label>
                            <input class="allow15 form-control form-control-rounded" id="expSearchPath2" maxlength="15" type="text" />
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Headline 1</label>
                            <input class="allow15 form-control form-control-rounded" id="expSearchHeadline1" maxlength="30" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <label for="Discount">Headline 2</label>
                            <input class="allow15 form-control form-control-rounded" id="expSearchHeadline2" maxlength="30" type="text" />
                        </div>
                    </div>
                    <div class="containerSearch">
                        <div class="row mt-3">
                            <div class="col-md-12 form-group">
                                <label for="Discount">Headline 3</label>
                                <input class="allow15 form-control form-control-rounded" id="expSearchHeadline3" maxlength="30" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-group">
                            <button type="button" class="btn btn-success add_headline_field">
                                Add New Headline &nbsp;
                                <span style="font-size:16px; font-weight:bold;">+ </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="align-items: start;">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>_keyword_</b> Lowercase</li>
                            <li class="list-group-item"><b>_Keyword_</b> First letter uppercase</li>
                            <li class="list-group-item"><b>_KeyWord_</b> First letter in each word uppercase</li>
                            <li class="list-group-item"><b>_KEYWORD_</b> No change on the keyword case</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" id="searchAdd" onclick="AddEdsExt('resp')">Add</button>
                    <button class="btn btn-primary" type="button" id="searchUpdate" onclick="AddEdsExt('resp')">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
