@{
    ViewBag.Title = "Home Page";
}
<style>
    .card-body .content {
        max-width: 100% !important;
    }
</style>
<div class="page-header">
    <div class="col">
        <div class="breadcrumb">
            <h1 class="mr-2">Site Main Page</h1>

        </div>
        <div class="separator-breadcrumb border-top"></div>

    </div>
    <div class="row" id="Icon-Bg">
        <!-- ICON BG-->
    </div>

</div>
