@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header gradient-purple-indigo 0-hidden pb-40">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#findReplaceModal">
                        Find and replace
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appendModal">
                        Append text
                    </button>
                    <button type="button" class="btn btn-info" onclick="selectAll()">Select all</button>
                    <button type="button" class="btn btn-danger" onclick="removeSelected()">Remove selected</button>
                    <div class="parent">
                        <div class="container">
                            <div class="row row-cols-4">
                                <div class="col">
                                    <label class="form-label">Select Ad group</label>
                                    <select id="adGroupDropDown" multiple="multiple" data-role="multiselect">
                                        <option selected>Select Ad group</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label">Select Ad type</label>
                                    <select id="adTypeDropDown" multiple="multiple" data-role="multiselect">
                                        <option selected>Select Ad type</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label">Choose keyword</label>
                                    <select id="keywordDropDown" multiple="multiple" data-role="multiselect">
                                        <option selected>Choose keyword</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label">Choose negatives</label>
                                    <select id="negativesDropDown" multiple="multiple" data-role="multiselect">
                                        <option selected>Choose negatives</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover" style="width:100%" id="tableReview">
                        <thead>
                            <tr>
                                <th>Ad Group</th>
                                <th>Ads & Extensions</th>
                                <th>Keywords</th>
                                <th>Negatives</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                </div>
        </div>
    </div>
</div>




